.example-css {
    color: red;
    font-size: 32px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;

    place-items: center;
}

div {
    color: blueviolet;
    font-style: oblique;
}